.titulo h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 3rem;  
}

.form {
    margin:4rem  auto;
    width: 30%;
}

.full-width{
    width: 100%;
}

.left-width{
    width: 45%;
    margin-right: 5%;
    }

.right-width{
    width: 45%;
    margin-left: 5%;
}

.botoes {
    margin-top: 5%;
    margin-left: 10%;
}

#botaoCancelar {
    margin-left: 48%;
}

/* .cadastra{
    margin-top: 10%;
    margin-left: 25%;
}

.cancela{
    margin-right: 25%;
} */