<div class="titulo">
    <h1>CADASTRO TAREFA (ɔ◔‿◔)ɔ ♥</h1>
</div>

<form class="form">
    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field class="full-width" appearance="fill">
        <mat-label>idade</mat-label>
        <input [(ngModel)]="pessoa.idade" name="idade" [formControl]="idade" required maxlength="2" matInput
            placeholder="Ex. 99" type="number">  -->
        <!-- <mat-error *ngIf="idade.invalid"> {{ errorValidIdade() }}</mat-error> -->
    <!-- </mat-form-field> -->

    <!-- <button class="cadastra mat-elevation-z8" [disabled]="errorValidIdade() || errorValidNome()" mat-raised-button
        color="primary">Cadastrar</button>
    <button  class="cancela mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button> -->

</form>