<div class="titulo">
    <h1>CADASTRO PESSOA  (͠◉_◉᷅ )</h1>
</div>

<form class="form">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>nome</mat-label>
      <input matInput placeholder="Ex. flavin rei" value="">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>idade</mat-label>
        <input matInput placeholder="Ex. 105" value="">
    </mat-form-field>  
    
    <button (click)="cadastra()" class="cadastra" mat-stroked-button color="primary">Cadastrar</button>
    <button (click)="cancel()" class="cancela" mat-stroked-button color="warn">Cancelar</button>
  
  </form>